<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="http://localhost:10000/">Home</a>
        <a href="http://localhost:10000/dodadiStudent">Dodadi student</a>
        <a href="http://localhost:10000/prisutni">Prisutni studenti</a>
        <a href="http://localhost:10000/otsutni">Otsutni studenti</a>
    </nav>
</body>
</html>