<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <nav class="nav-header">
        <a href="http://localhost:10000/" class="nav-links">Home</a>
        <a href="http://localhost:10000/dodadiStudent" class="nav-links">Dodadi student</a>
        <a href="http://localhost:10000/prisutni" class="nav-links">Prisutni studenti</a>
        <a href="http://localhost:10000/otsutni" class="nav-links">Otsutni studenti</a>
    </nav>
</body>
</html>