body{
    background-color: #a5a686;
}
.nav-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.table-container{
    width: 100%;
    font-size: 18px;
    background-color: #858971;
    margin-top: 10px;
}

.users-container{
    text-align: center;
}
.nav-links{
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #a38772;
    gap: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.addStudent-container{
    background-color: #f7d181;
    border-radius: 45px;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.position{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}
.addStudent-title{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: black;
}